extends layout

body.scroll-skin-light
  block content
    .content
      //-page header
      .title.left-aligned #{name} 歌曲收藏量Top #{data.details.length} (数据时间：#{data.updatedAt})
      p.header-attr.right-aligned QQ音乐粉丝总数：#{util.formatNumberWithCommas(data.fansCount)}
      p.header-attr.right-aligned 过去24小时总收听人数：#{data.totalListenCount}万+
      br
      //-list header
      ul#list-title.list-ul.list-title
        li.list-li
            span.list-span.index 序号
            span.list-span.song 歌曲
            span.list-span.song 收藏
            span.list-span.song 收听人数 (万+)
      //-list content
      ul.list-ul
        each song, index in data.details
          li.list-li
            span.list-span.index #{index+1}
            span.list-span.song #{song.title}
            span.list-span.song #{util.formatNumberWithCommas(song.favCount)}
            span.list-span.song #{song.hitListenCount || '-'}
